# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
/nbproject
/.vscode/

# Flutter
.metadata
.packages
/build/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*
/android/key.properties
/android/.gradle
/android/local.properties
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/build/

# Dart
.dart_tool/
pubspec.lock
